
@font-face {
    font-family: 'rwby_stylemedium';
    src: url('../fonts/rwby_font/rwby_font-webfont.eot');
    src: url('../fonts/rwby_font/rwby_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rwby_font/rwby_font-webfont.woff') format('woff'),
         url('../fonts/rwby_font/rwby_font-webfont.ttf') format('truetype'),
         url('../fonts/rwby_font/rwby_font-webfont.svg#rwby_stylemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}