body {
    margin : 0;
    overflow : hidden;
    /*-webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-user-select : none;*/
}


#game {
    position : absolute;
    left : 0;
    top : 0;
    width : 8em;
    height : 12em;
    font-family : Geo;
    color : rgb(200,200,100);
    font-size : 40px;
    background-color: #d3d3d3;
    /*
    
    background-size : 10px 10px;
    background-image : 
        -webkit-linear-gradient(45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%),
        -webkit-linear-gradient(-45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%);
    background-image : 
        -moz-linear-gradient(45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%),
        -moz-linear-gradient(-45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%);
    background-image : 
        -ms-linear-gradient(45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%),
        -ms-linear-gradient(-45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%);
    background-image : 
        -o-linear-gradient(45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%),
        -o-linear-gradient(-45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%);
    background-image : 
        linear-gradient(45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%),
        linear-gradient(-45deg, transparent 0%, rgb(20,20,20) 25%, transparent 50%, rgb(20,20,20) 75%, transparent 100%);
        */
}

#game .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}

/* Splash screen */

#splash-screen {
    text-align: center;
    padding-top: 2.5em;
}
#splash-screen .continue {
    cursor: pointer;
    font-size: 0.75em;
    display: none;
}

/* Progress bar */
.progress {
    margin: 0 auto;
    width: 6em;
    height: 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid rgb(200,200,100);
}

.progress .indicator {
    background-color: rgb(200,200,100);
    height: 100%;
    width: 0%;
}


/* Install screen for iOS devices */
#install-screen  {
    padding-top: 0.5em;
    text-align: center;
}

#install-screen span {
    font-size : 0.75em;
    display: inline-block;
    padding: 0 0.5em;
}

/* logo for game */

h1.logo {
    font-family: rwby_stylemedium;
    line-height: 0.9em;
    text-shadow: 0.03em  0.03em  0.03em rgb(255,255,0),
                 -0.03em -0.03em  0.03em rgb(255,255,0),
                  0.10em  0.15em  0.15em rgb(0,0,0);
    
    margin: 0;
    text-align: center;
    color: rgb(70,120,20);
    
     
}

span.red {
    font-size: 1.5em;
    color: rgb(200,51,39);
     text-shadow: 0.03em  0.03em  0.03em rgb(128,71,54),
                 -0.03em -0.03em  0.03em rgb(128,71,54),
                  0.10em  0.15em  0.15em rgb(0,0,0);
    margin-left:2px;
    margin-right:13px;
    display:inline-block;

    transform: rotate(5deg);
    transform: translate(0,-15px);
}

span.white {
    font-size: 1.5em; 
    color: white;
    text-shadow: 0.03em  0.03em  0.03em rgb(154,154,156),
                 -0.03em -0.03em  0.03em rgb(154,154,156),
                  0.10em  0.15em  0.15em rgb(0,0,0);
    margin-right: 3px;
    display:inline-block;
}

span.black {
    font-size: 1.5em;
    color: black;
    text-shadow: 0.03em  0.03em  0.03em rgb(111,111,111),
                 -0.03em -0.03em  0.03em rgb(111,111,111),
                  0.10em  0.15em  0.15em rgb(0,0,0);
    margin-right: 10px;
    display:inline-block;

    transform: translate(0,-13px);

}

span.yellow {
    font-size: 1.5em;
    color: rgb(255,217,2);
    text-shadow: 0.03em  0.03em  0.03em rgb(136,124,48),
                 -0.03em -0.03em  0.03em rgb(136,124,48),
                  0.10em  0.15em  0.15em rgb(0,0,0);
    display:inline-block;

    transform: rotate(1deg);
}

span.gems {
    font-size:1em;
}

/* end of logo styling */

/* Main menu styles */
#main-menu {
    padding-top: 1em;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.menu li {
    margin: 0.8em 0;
    margin-top:-2px;
}
ul.menu li button {
    font-family: rwby_stylemedium, sans-serif;
    font-size: 0.6em;
    color: rgb(100,120,0);
    width: 10em;
    height: 1.5em;
    background: rgb(10,20,0);
    border: 0.1em solid rgb(255,255,0);
    border-radius: 0.5em;
    /*-webkit-box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
    -moz-box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0); */
    box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
}
ul.menu li button:hover {
    background: rgb(30,40,0);
}
ul.menu li button:active {
    color : rgb(255,255,0);
    background: rgb(30,40,0);
}

/* Game screen */
#game-screen .game-board {
    position: relative;
    width: 8em;
    height: 8em;

    perspective: 16em;
    /*-webkit-perspective: 16em;
    -moz-perspective: 16em;
    -ms-perspective: 16em;*/
}

#game-screen .game-board .board-bg,
#game-screen .game-board .board {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*width: 320px; */ /* 100% some error here, manually fixing */
    /*height: 320px;*/ /* 100% some error here, manually fixing */
}

#game-screen .game-board .board {
    z-index: 10;
}

#game-screen .game-board .board-bg {
    z-index: 0;
}

#game-screen .pause-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(20,20,20,0.5);
}
#game-screen .pause-overlay .pause-text {
    width: 100%;
    text-align: center;
    margin-top: 50%;
    font-family: Slackey;
    font-size: 1.0em;
    text-shadow : 0.03em  0.03em  0.03em rgb(255,255,0),
                 -0.03em -0.03em  0.03em rgb(255,255,0),
                  0.10em  0.15em  0.15em rgb(0,0,0);
    color: rgb(70,120,20);
}

/* Game screen - Game state */
#game-screen .game-info {
    width: 100%;
    float: left;
}

#game-screen .game-info label {
    display: inline-block;
    height: 1.5em;
    float: left;
    font-size: 0.6em;
    padding: 0.25em;
}

#game-screen .game-info .score {
    float: right;
}

#game-screen .time {
    height: 0.25em;
    border-radius: 0.5em;
}

#game-screen .time .indicator {
    width: 100%;
}

/* End of Game screen - Game state */

.screen footer {
    display : block;
    position : absolute;
    bottom : 0;
    height : 1.0em;
    width : 100%;
}

.screen footer button {
    margin-left : 0.25em;
    margin-right : 0.25em;
    padding : 0 0.75em;
    font-family : Geo, sans-serif;
    font-size : 0.5em;
    color : rgba(200,200,100,0.5);
    background : rgb(10,20,0);
    border : 1px solid rgba(200,200,100,0.5);
    border-radius : 0.2em;
}

#game-screen footer button.exit {
    float: left;
}
#game-screen footer button.pause {
    float: right;
}


#game-screen .announcement {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.5em;
    width: 100%;

    font-family: Slackey, sans-serif;
    color: rgb(150,150,75);
    text-shadow: 0.03em 0.03em 0.03em rgb(255,255,0),
                 -0.03em -0.03em 0.03em rgb(255,255,0),
                 0.1em 0.15em 0.15em rgb(0,0,0);
    text-align: center;
    white-space: nowrap;

    z-index: 20;
    opacity: 0;
    cursor: default;
}
/* Announcement animation */
/* Keyframes for webkit */
/*@-webkit-keyframes zoomfade {
    0%   { opacity : 1; -webkit-transform : scale(0.5); }
    25%  { opacity : 1; }
    100% { opacity : 0; -webkit-transform : scale(1.5); }
}*/
/* Keyframes for Firefox */
/*@-moz-keyframes zoomfade {
    0%   { opacity : 1; -moz-transform : scale(0.5); }
    25%  { opacity : 1; }
    100% { opacity : 0; -moz-transform : scale(1.5); }
} */
/* Keyframes for W3C compliant browsers */
@keyframes zoomfade {
    0%   { opacity : 1; transform : scale(0.5); }
    25%  { opacity : 1; }
    100% { opacity : 0; transform : scale(1.5); }
}
/* zoom-fade animation class */
.zoomfade {
    animation-name : zoomfade;
    animation-duration : 2s;
    /*-webkit-animation-name : zoomfade;
    -webkit-animation-duration : 2s;
    -moz-animation-name : zoomfade;
    -moz-animation-duration : 2s;*/
}